################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/AltinnServiceCatalogue/Altinn.Authorization.Api.Contracts/bin/Debug/net10.0
/src/AltinnServiceCatalogue/.vs/AltinnServiceCatalogue.slnx
/src/AltinnServiceCatalogue/AltinnServiceCatalogue.Server/bin/Debug/net10.0
/src/AltinnServiceCatalogue/AltinnServiceCatalogue.Server/obj
/src/AltinnServiceCatalogue/altinnservicecatalogue.client/obj/Debug
/src/AltinnServiceCatalogue/Altinn.Authorization.Api.Contracts/obj
/src/AltinnServiceCatalogue/.vs
/src/AltinnServiceCatalogue/altinnservicecatalogue.client/package-lock.json
/src/AltinnServiceCatalogue/AltinnServiceCatalogue.Server/bin/Release/net10.0
/src/AltinnServiceCatalogue/altinnservicecatalogue.client/obj/Release
/src/AltinnServiceCatalogue/Altinn.Authorization.Api.Contracts/bin/Release/net10.0
