<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <AccountUsername>rune@hjemmekino.no</AccountUsername>
    <ApiMToolType>OpenApi</ApiMToolType>
    <ApiSpecificationFile>swagger.json</ApiSpecificationFile>
    <AzureServiceName>AltinnServiceCatalogue</AzureServiceName>
    <AzureServiceResourceGroup>altinnservicecatalogue</AzureServiceResourceGroup>
    <AzureServiceResourceId>/subscriptions/a8595f86-7b1f-4f10-8fef-2aff1ece1a58/resourceGroups/altinnservicecatalogue/providers/Microsoft.Web/sites/AltinnServiceCatalogue</AzureServiceResourceId>
    <AzureServiceResourceType>Microsoft.Web/sites</AzureServiceResourceType>
    <AzureServiceSubscriptionId>a8595f86-7b1f-4f10-8fef-2aff1ece1a58</AzureServiceSubscriptionId>
    <AzureServiceSubscriptionName>Azure Med MSDN Subscription</AzureServiceSubscriptionName>
    <AzureWebSite>/subscriptions/a8595f86-7b1f-4f10-8fef-2aff1ece1a58/resourceGroups/altinnservicecatalogue/providers/Microsoft.Web/sites/AltinnServiceCatalogue (Microsoft.WebTools.Azure.Client.Entities.Website)</AzureWebSite>
    <DotNetCoreVersion>10.0.x</DotNetCoreVersion>
    <DotNetVersionSupportDisposition>FullySupported</DotNetVersionSupportDisposition>
    <DoNotUseSPN>true</DoNotUseSPN>
    <GitWorkflowCredentialsHandlerId>WebSite</GitWorkflowCredentialsHandlerId>
    <GitWorkflowFactoryId>appServiceApiMGitHubWorkflowFactory</GitWorkflowFactoryId>
    <GitWorkflowTemplatePath>workflows/github/azureAppServiceApiMWindows.yml</GitWorkflowTemplatePath>
    <IsLinuxAzureService>false</IsLinuxAzureService>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <ProjectName>AltinnServiceCatalogue.Server</ProjectName>
    <ProjectOutputPath>publish</ProjectOutputPath>
    <ProjectPath>AltinnServiceCatalogue.Server</ProjectPath>
    <SiteUrlToLaunchAfterPublish>https://altinnservicecatalogue.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SwashBuckleAspNetCoreCliVersion>8.1.1</SwashBuckleAspNetCoreCliVersion>
    <SwashBuckleDotNetCoreVersion>8.x</SwashBuckleDotNetCoreVersion>
    <TargetFrameworks>System.Collections.Generic.List`1[System.String]</TargetFrameworks>
    <TenantId>ec6cb718-7563-4ba3-9952-5a2c276297e1</TenantId>
  </PropertyGroup>
</Project>